body{
background: url("../images/grey_sandbag.png");

}
nav{
  background-color: #ffffff;
  border-bottom: solid;
  border-color: #cccccc;

}

#logo{
  background: #4aaaa5;
  font-size: 25px;
  color: white;
  font-weight:bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom:13px;

}
.connectwithmesection{
  color:#4aaaa5;
  text-align: center;
  padding-bottom: 20px;
  background-color: white;
  width: 270px;
  margin-bottom: 20px;
}

h4{
  border-bottom: solid;
  border-color: #dddddd;
}

h2{
  color:#4aaaa5;
  border-bottom: solid;
  border-color: #dddddd;
}

.btn-primary{
  background-color:#4aaaa5;
  border-color: #cccccc;
}

.one{
  margin-left: 10px;
}

.two{
  margin-left: 15px;
}

.three{
  margin-left: 15px;
}

.formbox{
  background-color: white;
}

.footer{
  background-color: #666666;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-style: solid;
  border-color: #4aaaa5;
  border-top-width: thick;
  text-align: center;
  color:#CBC0C0;
  margin-top: 90px;
}
