body{
background: url("../images/grey_sandbag.png");

}
nav{
  background-color: #ffffff;
  border-bottom: solid;
  border-color: #cccccc;

}

#logo{
  background: #4aaaa5;
  font-size: 25px;
  color: white;
  font-weight:bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom:13px;

}
.connectwithmesection{
  color:#4aaaa5;
  text-align: center;
  padding-bottom: 20px;
  background-color: white;
  width: 270px;
  margin-bottom: 20px;
}

h4{
  border-bottom: solid;
  border-color: #dddddd;
}
.one{
  margin-left: 10px;
}

.two{
  margin-left: 15px;
}

.three{
  margin-left: 15px;
}
.footer{
  background-color: #666666;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-style: solid;
  border-color: #4aaaa5;
  border-top-width: thick;
  text-align: center;
  color:#CBC0C0;


}

.inside-caption{
  background-color: #4aaaa5;
  color: #ffffff;
  bottom:0;
  /*width: 50%;*/
  /*position: relative;*/
  /*width:192px;
  margin-top: 130px;
  left:9px;*/

}
.card-img-overlay{
  padding-left: 0px;
   padding-right: 0px;
}

.firstcolumn{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

h2{
  color:#4aaaa5;

}
